
html {
    height: 100%;
    width: 100%;
}

.results {
    height: 100%;
    position: relative;
    width: 100%;
}

.data-table {
    height: 100%;
    overflow: scroll;
    width: 40%;
}

.map {
    height: 100%;
    left: 40%;
    position: absolute;
    top: 0;
    width: 60%;
}


.popup th, .popup td {
    vertical-align: top;
}


.data-table table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid gray;
}

.data-table table th, .data-table table td {
  padding: 0.5em;
}