
html {
    height: 100%;
    width: 100%;
}

.results {
    height: 100%;
    width: 100%;
}

.data-table {
    height: 50%;
    overflow: scroll;
    width: 100%;
}

.map {
    height: 50%;
    width: 100%;

}

.popup th, .popup td {
    vertical-align: top;
}

.data-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid gray;
}
